ul {
  list-style-type: none;
}

.div_arr {
  display: flex;
}
.div_img {
  display: flex;
}

.div_details {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
}

.div_title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 0px;
  display: inline-block;
}

.div_partner {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  color: #525252;
}

.div_lp {
  background-color: rgb(240, 240, 240);
  width: fit-content;
  font-size: 13.5px;
  padding: 5px;
}
