.headimg {
  width: 120px;
}

.div_header {
  background-color: #045acc;
  width: 90px;
  height: 40px;
  color: white;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

.search {
  margin-left: 25px;
  width: 500px;
  height: 40px;
}

.searchbox {
  height: 40px;
}

.stillheader {
  font-size: 13.5px;
}
