.divmain {
  display: flex;
  margin-left: 100px;
  width: 1500px;
  border-bottom: 1px solid #ccd1d9;
}
.divtext {
  margin-left: 25px;
}
.title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 700;
}
.partner {
  font-family: Arial, Helvetica, sans-serif;
  margin-top: -10px;
  width: max-content;
  color: #525252;
  font-size: 13px;
}
.lp {
  font-family: Arial, Helvetica, sans-serif;
  width: max-content;
  margin-top: -5px;
  font-size: 13px;
  background: rgb(240, 240, 240);
  padding: 5px 15px;
}
.level {
  font-family: Arial, Helvetica, sans-serif;
  width: max-content;
  margin-left: 4px;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
}
.rating {
  font-family: Arial, Helvetica, sans-serif;
  width: max-content;
  margin-left: 17px;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
}
