.divsignup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 500px;
}

.un {
  display: flex;
  color: rgb(31, 31, 31);
  font-size: 12px;
  line-height: 18px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 800;
  margin-bottom: 8px;
  text-transform: uppercase;
  padding: 20px 20px;
  flex-direction: row;
}

.pwd {
  display: flex;
  color: rgb(31, 31, 31);
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 800;
  line-height: 18px;
  margin-bottom: 8px;
  text-transform: uppercase;
  padding: 20px 20px;
  flex-direction: row;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  background-color: rgb(24, 89, 169);
  color: rgb(255, 255, 255);
  border: medium none;
  border-radius: 2px;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  padding: 12px 32px;
}
